.navbar{
  position: fixed;
  top: 50%;
  transform:translateY(-50%);
  z-index:100;
  list-style:none;
  font-weight:bold;
  text-decoration:none;
  li a{
    text-decoration:none;
    color:white;
    line-height:50px;
  }
  .active{
    a{
      color:yellow;
    }
    position:relative;
    &:before{
      position:absolute;
      left:-20px;
      top:50%;
      transform:translateY(-50%);
      content:'';
      display:inline-block;
      width:20px;
      height:20px;
      background-image:url(../images/energy.svg);
      background-size: contain;
      background-repeat:no-repeat;
    }
  }
}